{% extends 'base_layout.html' %}

{% block title %}
Delete Song - Music Streaming Service
{% endblock %}

{% block style %}
<style>
    h3 {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    p{
        font-size: 25px;
    }

    .button {
        text-align: center;
    }
</style>    
{% endblock %}

{% block content %}    
<div>         
<h3>Delete Song</h3>
<p class = 'text-danger text-center'>
    Are you sure you want to delete {{song.name}}?
</p>
</div>
<div class="button">
<form method="post" class="form">
    <button type="submit" value="Delete" class="btn btn-secondary">Delete</button>
</form>
</div>
{% endblock %}