{% extends "base_layout.html" %}

{% block title %}
login Page - Music Streaming Service
{% endblock %}

{% block style %}

{% endblock %}

{% block content %}
<div class="header">
    <a href="{{url_for('home')}}" style="color: black; text-decoration: none"> Music Streaming App </a>
</div>

<div class="box_user_login">

    <div class="insidebox1">
        User Login
    </div>
    <div class="insidebox1">
        <div class="insidebox1">
            <form method="post">
                <div class="mb-3" style="font-size: 21px; text-align: left;">
                    <label for="Username" class="form-label"> Username </label>
                    <input type="text" name="username" placeholder="Enter your Username" class="form-control" id="usernamepage"
                        aria-describedby="usernameHelp" required>



                    <label for="exampleInputPassword1" class="form-label"> Password </label>
                    <input type="password" name="password" placeholder="Enter your password here" class="form-control"
                        id="InputPassword" required>

                </div>
                <div class="insidebox" style="margin-top:40px;">
                    <button type="submit" class="btn btn-secondary" value="Login" style="width: 110px;height: 40px;font-size: 20px;">
                        Login</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}