{% extends "base_layout.html" %}

{% block title %}
   Welcome Page - Music Streaming Service
{% endblock %}

{% block style %}
{% endblock %}

{% block content %}
  <div class="header">
    Music Streaming App
  </div>

  <div class="box_welcome_page">

      <div class="insidebox">
        Welcome to Music Streaming Application
      </div>
      <div class="insidebox">
        <div class="insidebox">
            <a href="{{url_for('login')}}">
                <button type="button" class="btn btn-secondary"
                    style="margin-right: 30px;  width: 110px;height: 40px;font-size: 16px;">User Login</button>
            </a>
            <a href="{{url_for('register_user')}}">
                <button type="button" class="btn btn-secondary"
                    style="margin-right: 30px; width: 110px;height: 40px;font-size: 16px;">Register</button>
            </a>
            <a href="{{url_for('admin_login')}}">
                <button type="button" class="btn btn-secondary"
                    style="width: 110px;height: 40px;font-size: 16px;">Admin Login</button>
            </a>
        </div>
       </div>
 </div>
{% endblock %}
